.tablica-gry
{ 
    width: 400px;
    height: 400px;
background-color:black;
border-radius: 1px;
margin-top: 20px;
margin-left: auto;
margin-right: auto;

        display: grid;
        grid-template: repeat(3,lfr)
    / repeat(3,lfr);
}

.box
{
    border: 1px solid black;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 6em;
    text-align: center;
    line-height: 133px;
}

.O
{
    background-color:blueviolet;
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 6em;
    text-align: center;
    line-height: 133px;
}
.X
{
    background-color:blueviolet;
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 6em;
    text-align: center;
    line-height: 133px;
}


